<!DOCTYPE html>
<html>
  <head>
    <title>MatesRates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
  
    <nav class="top-nav">
    <%# <div class="container"> %>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><svg width="100" height="64" viewBox="0 0 600 250" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M201.017 99.6601L203.937 171.421L181.891 174.688L178.19 137.076L171.325 168.419L162.777 169.305L152.295 142.999L155.46 174.482L133.092 177.487L127.107 110.265L151.97 106.707L165.21 137.832L174.887 102.368L201.017 99.6601Z" fill="white"/>
<path d="M271.887 159.666L248.119 165.271L244.067 154.597L232.994 155.745L231.703 166.973L206.682 167.111L219.307 100.415L246.17 96.2569L271.887 159.666ZM240.779 139.916L235.336 123.397L233.493 140.671L240.779 139.916Z" fill="white"/>
<path d="M311.653 90.5504L313.302 111.194L298.889 113.276L301.812 158.529L281.427 161.721L274.91 116.841L260.517 119.118L258.724 96.134L311.653 90.5504Z" fill="white"/>
<path d="M370.682 113.985C370.974 116.802 371.072 119.639 370.975 122.496C365.476 123.426 360.032 124.579 354.643 125.956C349.252 127.3 343.861 128.644 338.469 129.988C339.553 132.232 341.057 133.958 342.982 135.166C344.939 136.37 347.165 136.843 349.658 136.585C350.953 136.451 352.336 136.062 353.808 135.419C355.312 134.772 356.788 134.013 358.236 133.143C359.68 132.241 361.055 131.297 362.36 130.311C363.665 129.324 364.784 128.439 365.717 127.655L365.671 149.947C364.509 151.049 363.219 152.017 361.8 152.852C360.413 153.683 358.948 154.391 357.406 154.976C355.863 155.561 354.292 156.035 352.693 156.397C351.094 156.759 349.518 157.021 347.964 157.182C344.758 157.514 341.782 157.381 339.037 156.782C336.291 156.183 333.753 155.218 331.423 153.889C329.121 152.524 327.05 150.857 325.21 148.888C323.37 146.918 321.784 144.726 320.454 142.312C319.124 139.897 318.037 137.309 317.195 134.549C316.353 131.79 315.782 128.969 315.484 126.087C315.171 123.076 315.135 120.036 315.373 116.968C315.611 113.9 316.137 110.916 316.949 108.018C317.794 105.115 318.935 102.395 320.374 99.8573C321.842 97.2834 323.617 94.9886 325.699 92.9729C327.781 90.9572 330.194 89.2998 332.939 88.0008C335.717 86.6984 338.838 85.8677 342.303 85.5086C345.184 85.21 347.849 85.3429 350.297 85.9074C352.773 86.4362 355.008 87.3173 357.001 88.5507C359.024 89.7483 360.815 91.248 362.377 93.0498C363.97 94.8482 365.325 96.8678 366.441 99.1085C367.586 101.313 368.503 103.689 369.192 106.236C369.91 108.747 370.407 111.33 370.682 113.985ZM350.993 113.473C350.899 112.566 350.707 111.653 350.415 110.734C350.12 109.783 349.706 108.943 349.172 108.212C348.67 107.479 348.038 106.906 347.276 106.494C346.51 106.05 345.592 105.884 344.524 105.994C343.229 106.128 342.116 106.604 341.186 107.42C340.286 108.201 339.534 109.162 338.933 110.305C338.328 111.414 337.862 112.608 337.537 113.885C337.211 115.163 336.988 116.331 336.869 117.391L351.104 114.541L350.993 113.473Z" fill="white"/>
<path d="M425.16 122.869C425.62 127.305 425.24 131.223 424.022 134.622C422.832 137.985 421.003 140.858 418.533 143.241C416.093 145.589 413.128 147.45 409.638 148.827C406.177 150.167 402.39 151.05 398.278 151.477C396.692 151.641 394.921 151.612 392.967 151.389C391.046 151.163 389.082 150.842 387.075 150.429C385.065 149.982 383.117 149.497 381.23 148.973C379.372 148.412 377.713 147.881 376.254 147.377L376.418 128.117C379.341 129.483 382.516 130.431 385.941 130.959C389.396 131.452 392.742 131.531 395.98 131.195C396.595 131.132 397.338 131.038 398.209 130.915C399.077 130.76 399.887 130.529 400.641 130.221C401.423 129.878 402.065 129.436 402.565 128.893C403.065 128.35 403.268 127.626 403.174 126.719C403.11 126.104 402.862 125.606 402.43 125.225C401.995 124.812 401.456 124.508 400.814 124.313C400.168 124.085 399.45 123.947 398.66 123.898C397.866 123.816 397.093 123.782 396.342 123.794C395.591 123.807 394.891 123.847 394.243 123.914C393.596 123.981 393.078 124.034 392.689 124.075C389.905 124.363 387.318 124.19 384.928 123.554C382.571 122.914 380.485 121.887 378.669 120.471C376.882 119.02 375.418 117.208 374.277 115.036C373.132 112.831 372.415 110.336 372.126 107.552C371.731 103.731 372.137 100.236 373.347 97.0673C374.586 93.8626 376.375 91.0754 378.715 88.7057C381.084 86.3003 383.877 84.3581 387.095 82.8792C390.312 81.4003 393.702 80.4763 397.263 80.1072C398.85 79.9428 400.492 79.8381 402.189 79.7931C403.883 79.7158 405.57 79.7372 407.252 79.8575C408.966 79.9744 410.639 80.1773 412.273 80.4662C413.906 80.7551 415.471 81.1657 416.966 81.698L417.164 101.608C414.885 101.091 412.506 100.716 410.027 100.482C407.578 100.212 405.203 100.197 402.904 100.435C402.484 100.478 401.935 100.552 401.258 100.654C400.611 100.722 399.92 100.842 399.185 101.017C398.479 101.155 397.763 101.344 397.035 101.583C396.307 101.822 395.666 102.118 395.114 102.469C394.558 102.789 394.125 103.194 393.816 103.684C393.507 104.174 393.4 104.725 393.496 105.337C393.603 106.046 393.919 106.57 394.445 106.908C395.003 107.243 395.681 107.467 396.478 107.581C397.304 107.659 398.187 107.649 399.126 107.552C400.097 107.451 401.051 107.336 401.986 107.206C402.919 107.044 403.788 106.905 404.594 106.789C405.397 106.64 406.059 106.555 406.58 106.534C409.187 106.427 411.576 106.736 413.745 107.46C415.915 108.184 417.792 109.25 419.378 110.656C420.996 112.059 422.29 113.807 423.259 115.899C424.258 117.956 424.891 120.279 425.16 122.869Z" fill="white"/>
<path d="M213.311 197.96C213.506 199.982 213.501 201.84 213.298 203.534C213.118 205.199 212.719 206.755 212.099 208.201C211.48 209.648 210.63 211.011 209.55 212.293C208.47 213.574 207.138 214.827 205.556 216.052L216.397 231.647L199.229 236.753L191.646 220.766L186.84 221.385L187.697 237.628L170.977 239.237C170.538 233.314 170.088 227.419 169.628 221.551C169.194 215.68 168.77 209.782 168.357 203.857C168.122 200.871 167.889 197.911 167.659 194.976C167.429 192.042 167.248 189.077 167.117 186.081C168.866 185.233 170.601 184.503 172.322 183.893C174.042 183.282 175.772 182.776 177.512 182.373C179.276 181.941 181.061 181.6 182.869 181.347C184.699 181.066 186.573 180.834 188.492 180.649C191.447 180.364 194.338 180.505 197.166 181.07C200.017 181.606 202.583 182.589 204.866 184.017C207.149 185.446 209.043 187.317 210.547 189.632C212.078 191.944 212.999 194.72 213.311 197.96ZM196.011 200.881C195.907 199.792 195.655 198.809 195.257 197.932C194.884 197.052 194.369 196.317 193.71 195.726C193.075 195.107 192.299 194.658 191.383 194.38C190.49 194.074 189.46 193.977 188.294 194.089C187.776 194.139 187.274 194.226 186.789 194.352C186.301 194.451 185.83 194.588 185.376 194.762L186.146 209.287L187.08 209.197C188.194 209.089 189.308 208.838 190.421 208.443C191.56 208.046 192.555 207.506 193.405 206.822C194.28 206.136 194.959 205.299 195.439 204.311C195.945 203.32 196.136 202.177 196.011 200.881Z" fill="white"/>
<path d="M268.35 227.118L249.304 231.463L246.125 222.9L237.26 223.753L236.161 232.728L216.144 232.692L226.634 179.411L248.148 176.241L268.35 227.118ZM243.58 211.136L239.322 197.889L237.748 211.698L243.58 211.136Z" fill="white"/>
<path d="M300.567 172.059L301.765 188.583L290.223 190.165L292.296 226.383L275.97 228.818L271.019 192.876L259.492 194.614L258.192 176.216L300.567 172.059Z" fill="white"/>
<path d="M347.652 191.152C347.869 193.407 347.93 195.677 347.836 197.962C343.431 198.674 339.069 199.565 334.751 200.634C330.43 201.678 326.109 202.722 321.788 203.766C322.642 205.567 323.835 206.957 325.368 207.934C326.927 208.909 328.705 209.3 330.701 209.108C331.737 209.008 332.846 208.706 334.027 208.199C335.234 207.691 336.419 207.093 337.583 206.405C338.744 205.692 339.849 204.944 340.899 204.163C341.948 203.382 342.849 202.68 343.6 202.059L343.433 219.891C342.497 220.766 341.459 221.533 340.319 222.192C339.205 222.849 338.029 223.407 336.791 223.866C335.553 224.325 334.294 224.695 333.013 224.975C331.731 225.256 330.469 225.456 329.225 225.575C326.658 225.822 324.279 225.698 322.086 225.203C319.893 224.708 317.868 223.921 316.011 222.844C314.178 221.739 312.531 220.393 311.071 218.807C309.61 217.221 308.355 215.458 307.304 213.518C306.254 211.579 305.401 209.503 304.743 207.29C304.085 205.077 303.645 202.817 303.423 200.51C303.191 198.099 303.179 195.668 303.388 193.214C303.597 190.761 304.034 188.378 304.701 186.063C305.394 183.747 306.323 181.578 307.489 179.556C308.678 177.505 310.111 175.68 311.789 174.079C313.466 172.479 315.407 171.167 317.61 170.144C319.84 169.118 322.342 168.472 325.115 168.205C327.422 167.983 329.553 168.105 331.508 168.571C333.486 169.008 335.269 169.726 336.856 170.725C338.467 171.695 339.891 172.905 341.13 174.355C342.394 175.803 343.466 177.427 344.346 179.226C345.249 180.997 345.968 182.903 346.505 184.944C347.065 186.957 347.447 189.026 347.652 191.152ZM331.904 190.627C331.834 189.901 331.685 189.17 331.457 188.433C331.227 187.67 330.901 186.995 330.478 186.408C330.081 185.818 329.579 185.356 328.971 185.023C328.361 184.663 327.628 184.524 326.772 184.606C325.736 184.706 324.843 185.08 324.094 185.727C323.369 186.347 322.762 187.111 322.274 188.022C321.784 188.906 321.405 189.858 321.137 190.878C320.868 191.898 320.684 192.832 320.582 193.679L331.986 191.482L331.904 190.627Z" fill="white"/>
<path d="M391.181 198.578C391.523 202.129 391.196 205.261 390.201 207.973C389.23 210.656 387.75 212.944 385.76 214.836C383.794 216.7 381.411 218.172 378.612 219.252C375.835 220.304 372.801 220.989 369.509 221.306C368.238 221.428 366.822 221.394 365.261 221.204C363.725 221.012 362.155 220.745 360.553 220.402C358.947 220.033 357.392 219.633 355.885 219.203C354.402 218.744 353.078 218.309 351.914 217.898L352.157 202.491C354.488 203.601 357.022 204.377 359.759 204.82C362.52 205.235 365.196 205.317 367.789 205.068C368.281 205.02 368.876 204.95 369.574 204.857C370.268 204.737 370.918 204.557 371.523 204.316C372.151 204.046 372.667 203.695 373.07 203.264C373.473 202.833 373.64 202.254 373.57 201.529C373.523 201.036 373.327 200.636 372.984 200.329C372.638 199.996 372.208 199.75 371.696 199.59C371.181 199.404 370.607 199.289 369.975 199.245C369.341 199.176 368.723 199.144 368.122 199.149C367.52 199.155 366.961 199.182 366.442 199.232C365.924 199.282 365.509 199.322 365.198 199.352C362.969 199.567 360.9 199.412 358.992 198.89C357.11 198.364 355.447 197.53 354.003 196.387C352.582 195.216 351.422 193.758 350.521 192.013C349.618 190.243 349.059 188.243 348.845 186.014C348.55 182.955 348.896 180.161 349.883 177.633C350.892 175.077 352.34 172.858 354.226 170.976C356.135 169.065 358.381 167.528 360.963 166.364C363.546 165.2 366.263 164.48 369.114 164.206C370.384 164.083 371.698 164.009 373.056 163.983C374.412 163.931 375.762 163.958 377.106 164.064C378.477 164.168 379.814 164.34 381.119 164.581C382.425 164.821 383.674 165.159 384.867 165.594L384.908 181.522C383.088 181.096 381.188 180.782 379.206 180.58C377.248 180.35 375.349 180.323 373.508 180.5C373.171 180.533 372.732 180.588 372.19 180.666C371.671 180.716 371.118 180.809 370.529 180.944C369.964 181.051 369.389 181.198 368.806 181.385C368.222 181.572 367.708 181.804 367.264 182.082C366.817 182.335 366.469 182.656 366.219 183.046C365.968 183.437 365.88 183.877 365.953 184.367C366.034 184.935 366.284 185.355 366.703 185.629C367.147 185.9 367.688 186.084 368.325 186.179C368.986 186.247 369.692 186.244 370.444 186.172C371.221 186.097 371.985 186.01 372.734 185.912C373.481 185.788 374.177 185.681 374.822 185.593C375.465 185.479 375.996 185.415 376.413 185.401C378.499 185.331 380.408 185.592 382.139 186.184C383.871 186.776 385.366 187.639 386.627 188.774C387.913 189.906 388.938 191.311 389.701 192.991C390.488 194.642 390.981 196.504 391.181 198.578Z" fill="white"/>
<path d="M117.507 110.618L98.9985 105.803C96.3293 105.109 92.5391 102.986 87.628 99.4332C82.7168 95.8807 77.8847 92.1545 73.1317 88.2548C68.3787 84.3551 63.1586 80.5558 57.4712 76.8568C51.7839 73.1579 46.8295 70.8148 42.608 69.8276C39.2763 69.0718 35.4741 69.0814 31.2013 69.8564C26.9285 70.6313 23.1486 71.7286 19.8616 73.1484C16.5746 74.5681 13.2382 76.308 9.85253 78.3679C6.46684 80.4278 4.19393 81.8617 3.03382 82.6696C1.87371 83.4775 0.944815 84.1791 0.247131 84.7743L0.527226 89.175L31.1535 88.8196L32.9789 89.6274C34.35 90.0951 35.7198 91.0895 37.0882 92.6107C38.4567 94.1318 39.2288 95.8585 39.4047 97.7908L39.0641 101.447L37.5309 104.211L35.6082 106.125L33.9086 107.18L33.215 107.499L7.09551 108.528L5.79767 113.517L14.4909 118.441C20.2864 121.725 26.5267 125.124 33.2119 128.638C39.8971 132.153 44.1294 134.142 45.9089 134.604C49.3407 135.497 53.5425 135.647 58.5143 135.054C63.4862 134.461 68.9164 133.932 74.805 133.466C80.6936 133.001 86.3977 133.375 91.9172 134.589C97.5639 135.836 105.323 138.742 115.196 143.308C117.012 144.148 118.815 144.986 120.602 145.823L117.507 110.618Z" fill="white"/>
<path d="M430.546 108.949C432.092 107.95 433.622 106.955 435.134 105.963C435.387 105.592 435.68 105.283 435.974 104.973C436.711 104.194 437.452 103.412 437.582 101.648C444.67 98.4786 451.401 94.673 458.312 90.7655C465.267 86.8335 472.403 82.7984 480.271 79.2047C481.303 78.7302 482.381 78.1927 483.48 77.6447C487.678 75.5515 492.181 73.306 495.609 73.8413L503.352 75.4354C512.361 78.6995 517.924 82.602 519.743 91.3927C520.207 93.6713 519.991 96.1304 519.777 98.5742C519.57 100.937 519.365 103.285 519.775 105.443C520.336 108.439 524.091 117.437 527.07 118.468C529.38 119.274 532.331 118.407 535.403 116.849L546.185 111.295C549.232 109.7 551.639 107.808 552.337 105.451C553.222 102.438 548.116 94.1244 545.999 91.9344C544.478 90.3335 542.443 89.1318 540.398 87.9237C538.3 86.6847 536.192 85.439 534.613 83.7493C528.525 77.136 528.584 70.3533 531.189 61.1099C520.537 38.414 501.184 15.1762 467.204 4.86345C466.142 4.54216 465.09 4.21605 464.046 3.89269C456.019 1.40526 448.517 -0.919547 441.173 0.365571C438.239 2.50009 439.832 4.41298 441.923 5.80229C441.417 5.87135 440.891 5.89288 440.364 5.91444C438.147 6.00516 435.924 6.0961 435.222 9.73325C457.654 13.5498 492.649 33.4909 483.924 51.1019C482.37 54.1879 477.95 56.5462 473.82 58.7496C472.727 59.3326 471.655 59.9047 470.661 60.4766C463.147 64.797 455.706 68.2702 448.458 71.6532C441.273 75.0071 434.277 78.2722 427.59 82.1861C427.385 82.0637 427.189 81.9604 427 81.8738V104.147C428.297 105.553 429.487 107.165 430.546 108.949Z" fill="white"/>
<path d="M398.57 211.353L408.485 214.833L412.528 200.709L501.974 226.309L512.731 236.179L541.094 234.959L544.237 223.974L521.264 206.364L506.354 208.038L417.468 183.448L421.51 169.325L407.947 166.292C407.947 166.292 406.505 176.765 394 174.121V182.853C398.296 187.156 401 193.409 401 200.369C401 204.337 400.121 208.075 398.57 211.353Z" fill="white"/>
<path d="M158 188.149L49.1729 233.191C48.7975 233.347 48.4319 233.52 48.0777 233.709L38.0478 237.854L50.6043 268.236L65.6192 262.031L60.94 250.727L67.3419 248.077L72.0184 259.386L78.4171 256.742L69.7721 235.866L76.1794 233.218L84.8246 254.094L91.2276 251.447L86.539 240.132L92.9408 237.482L97.6308 248.801L104.03 246.156L99.3398 234.838L105.742 232.188L110.433 243.51L116.832 240.866L108.177 219.979L114.579 217.329L123.235 238.219L129.63 235.576L124.939 224.243L131.341 221.593L136.037 232.928L142.441 230.282L137.742 218.944L144.144 216.294L148.852 227.632L155.243 224.991L146.583 204.08L152.985 201.43L158 213.534V188.149Z" fill="white"/>
</g>
</svg>
</a>
          <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
          
          <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li class=<%= current_class?(home_path) %><%= current_class?(root_path) %>><%= link_to 'Home', root_path%></li>
          <li class=<%= current_class?(browse_path) %>><%= link_to 'Browse', browse_path%></li>
         
             <% if user_signed_in? %>
             <li id="profile-link" class=<%= current_class?(profile_path) %> ><%= link_to 'Profile', profile_path%></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li class=<%= current_class?(new_user_session_path) %>><%= link_to 'Sign In', new_user_session_path %></li>
            <li class=<%= current_class?(new_user_registration_path) %>><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        
          
      </ul>
      <%= form_with url: redirect_to_results_path, method: 'post', class:"right hide-on-med-and-down" do |f| %>
      <div class="input-field">
        <%= f.text_field :query, value: params[:query], id: 'search', type: 'search' %>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
</div>
      <% end %>
        
        <%# </div> %>
        </div>
      </nav>
   

      <ul class="sidenav" id="mobile-demo">
             <li class=<%= current_class?(home_path) %><%= current_class?(root_path)%>><%= link_to 'Home', root_path%></li>
          <li class=<%= current_class?(browse_path) %>><%= link_to 'Browse', browse_path%></li>
         
             <% if user_signed_in? %>
             <li class=<%= current_class?(profile_path) %>><%= link_to 'Profile', profile_path %><li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li class=<%= current_class?(new_user_session_path)%>><%= link_to 'Sign In', new_user_session_path%></li>
            <li class=<%= current_class?(new_user_registration_path)%>><%= link_to 'Sign Up', new_user_registration_path%></li>
          <% end %>
          <li>
          <%= form_with url: redirect_to_results_path, method: 'post' do |f| %>
      <div class="input-field">
        <%= f.text_field :query, id: 'search', type: 'search' %>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
</div>
      <% end %>
      </li>
  </ul>

    <%# <header> %>
     

     

    <%# </header> %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
    </div>
    
  </body>
</html>
