<h2>My Profile</h2>
<%= link_to 'View My Rentals', my_rentals_path, class: "btn waves-effect waves-light red darken-3" %>
<%= link_to 'Update Details', edit_user_registration_path, class: "btn waves-effect waves-light teal darken-2" %>

<% current_user.tools.each do |tool| %>

  <%= tool.price %>
  <br>
  <%= tool.name %>
  <br>
  <%= tool.brand %>
  <br><%= tool.model %> <br>
  <%= tool.description %><br>
  <%= tool.availability %><br>
  <%= tool.delivery_options %><br> 
  <%= tool.delivery_fee %><br>
  <%= tool.min_delivery_fee %><br>
  <% if can? :edit, tool %>
    <%= link_to 'Edit', edit_tool_url(tool)%>
  <% end %>
<% end %>

