<h1>Tools#new</h1>
<p>Find me in app/views/tools/new.html.erb</p>

<%= form_with(model: tool, local: true) do |form| %>
  <% if tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
</div>


<% price %> integer
<% name %>
<% brand %>
<% model %> 
<% description %> text_area
<% availability %> checkbox
<% delivery_options %> collection_select
<% delivery_fee %> decimal
<% min_delivery_fee %> decimal

