<h1>Tools#show</h1>
<p>Find me in app/views/tools/show.html.erb</p>
<%= link_to 'Browse Tools', tools_path %>
<% if @tool.photo.attached? %>
<%= image_tag @tool.photo, width: 120 %>
<% end %>
<%= @tool.price %>
<br>
<%= link_to @tool.name, tool_url(@tool) %>
<br>
<% if can? :edit, @tool %>
  <%= link_to 'Manage Tool', edit_tool_url(@tool)%>
  <% elsif can? :create, Rental %>
  <%= link_to 'Rent this Tool', new_tool_rental_path(@tool) %>
  <% else %>
  <%= link_to 'Sign up to rent this tool', new_user_registration_path %>
<% end %>
<%= @tool.brand %>
<br><%= @tool.model %> <br>
<%= @tool.description %><br>
<%= @tool.availability %><br>
<%= @tool.delivery_options %><br> 
<%= @tool.delivery_fee %><br>
<%= @tool.min_delivery_fee %><br>
<%= link_to 'User', user_path_url(@tool.user) %>


