<%= form.hidden_field :start_date, id: 'start_date' %>
<%= form.hidden_field :end_date, id: 'end_date' %>
<%= form.hidden_field :tool_price, id: 'tool_price', value: @tool.price %>
<div class="field">
  <%= form.label :dates %><br>
  <%= form.text_field :dates, id:'dates' %>

  <div class="field">
    <%= form.label :delivery_option %>
    <%# <%= form.select(:delivery_option, @delivery_options ) %> <%#%%>
    <%= form.select(:delivery_option, options_for_select(@delivery_options)) %>
  </div>

  <div class="field">
    <%= form.label :delivery_fee %>
    <%= form.text_field :delivery_fee %>
  </div>

</div>



