
<%= javascript_include_tag 'rentals' %>
<%= javascript_include_tag 'auto_dates' %>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    createDatePicker(JSON.parse('<%= @unavailable_dates.to_json.html_safe %>'))
  })
</script>

<h1>Rentals#new</h1>
<p>Find me in app/views/rentals/new.html.erb</p>

<%= form_with model: @rental, url: rentals_path(@rental), local: true do |form| %>
  <%= render 'form', form: form %>
<%= form.submit %>
<% end %>
