<h1>Rentals#index</h1>
<p>Find me in app/views/rentals/index.html.erb</p>

<% @rentals.each do |rental| %>
  <%= rental.tool.user.first_name %>
  <%= rental.tool.user.last_name %>
  <%= rental.tool.name %>
  <%= rental.tool.brand %>
  <%= rental.tool.model %>
  <%= rental.start_date %>
  <%= rental.end_date %>
<hr>
<% end %>
