<h1>Rentals#show</h1>
<p>Find me in app/views/rentals/show.html.erb</p>

<%= @rental.tool.user.first_name %>
<%= @rental.tool.user.last_name %>
<%= @rental.tool.name %>
<%= @rental.tool.brand %>
<%= @rental.tool.model %>
<%= @rental.start_date %>
<%= @rental.end_date %>
<%= @rental.price %>
<%= @rental.delivery_fee %>



